<h1 class="md-headline">{{::"additionalOptionsChoice" | translate}}</h1>
<div layout layout-xs="column" layout-align="start center" ng-repeat="opt in $ctrl.opts" ng-if="$index % 2 === 0">

  <div layout flex="50" flex-xs="100" ng-repeat="i in [$index, $index + 1]" ng-init="item = $ctrl.opts[i]" style="margin-bottom:35px;">

    <div layout flex="60" layout-align="start center">
      <md-checkbox ng-model="item.checked" ng-change="$ctrl.onClick(item)" ng-if="item" style="margin-bottom:0;">
        {{item.title}}
      </md-checkbox>
    </div>
    <div flex="30" flex-xs="40" layout layout-align="end center">
      {{item.price}}
    </div>

  </div>
</div>

<div layout layout-align="end center">

  <div flex="33" flex-xs="100">

    <div flex="100" layout="column" class="price-block">
      <div layout="row">
        <div flex="50" layout layout-align="center center" class="md-title prices sd-rub" style="margin-right:3px;">
          <div class="md-title">
            <span odometer="$ctrl.price.limited" odometer-options='{animation:"count",duration:800, format:"( ddd),dd"}'></span>
          </div>
        </div>
        <div flex="50" class="prices" layout layout-align="center center">
          <div class="sd-rub">
            <span>{{::$ctrl.price.day.limited}} / {{::"day" | translate}}</span>
          </div>
        </div>
      </div>
      <md-button flex class="sd-btn-accent" ng-click="$ctrl.next()">{{::"continueBooking" | translate}}</md-button>

    </div>




  </div>


</div>