.sd-cubic {

  &:after {
    content: '\00B3';
  }

}

.sd-gt {
  &:before {
    content: '\003E';
  }
}

.sd-lt {
  &:before {
    content: '\003C';
  }
}

.sd-lt-eq {
  &:before {
    content: '\2264';

  }
}

.sd-gt-eq {
  &:before {
    content: '\2265';

  }
}

.sd-rub {
  &:before {
    content: '\20BD\00a0';
  }

}

.sd-times-operator {
  &:before {
    content: '\2A09';
  }

}

.fa-caret-down {
  &:before {
    content: '\25BC';
  }
}

.fa-caret-up {
  &:before {
    content: "\25B2";
  }
}



