@import '../../vars';

@basePadding: 6px;
.car-select-frm {
  @media @md {

  margin-left: @mainPadding;
  }
}
.panel {
  background-color: @panelBackground;
  padding: @basePadding;
  font-size: 90%;
  display: block;
  @media @md {
    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);*/
  }

  h2 {
    color: @light;
    margin: @basePadding @basePadding 10px 10px;
  }
  svg {
    color: @accentLight;
  }
  md-list {
    padding: 0;
  }

 

  md-select, input, md-input-container {
    width: 100%;
  }

  md-input-container {
    padding: 0;
    margin: 0;
  }

 
  button, a {
    width: 100%;
    margin: 0;
  }

}

  .dates {
    md-icon {
     margin-left: @basePadding;
    margin-right: 3px;
    }
   

    margin-bottom:@basePadding;
     padding-left: @basePadding;
    padding-right: @basePadding;

  }


 .panel-inner {
    padding-left: @basePadding;
    padding-right: @basePadding;
    margin-top: @basePadding;
    background-color: @light;
    .last {
      margin-bottom: 20px;
    }
    h3 {
      margin: 20px 0 0 @basePadding;
    }
    span {
      display: block;
    }

  }


.car-select-frm {
  z-index: 2;
}
