<h2 class="md-title" translate-once="carSearch"></h2>

<div layout="column" class="panel-inner">

    <h3 class="md-subheader" translate-once="carPickUpPlace"></h3>

    <md-input-container>
        <div layout="row">
            <md-icon blink blinking="$ctrl.geoposition.isRequesting" speed="500" md-svg-icon="map:marker" class="sd-link" ng-click="$ctrl.getPosition()"></md-icon>
            <md-select ng-model="$ctrl.city" aria-label='{{"carPickUpPlace" | translate}}' ng-change="$ctrl.cityChange($ctrl.city)">
                <md-option ng-value="city.id" ng-repeat="city in $ctrl.cities">
                    {{city.title[$ctrl.locale]}}
                </md-option>
            </md-select>
        </div>
    </md-input-container>

    <md-input-container class="md-block last" md-no-float>
        <div layout="row">
            <md-icon md-svg-icon="map:marker"></md-icon>
            <input class="md-select-value" googleplace geoposition="$ctrl.geoposition" ng-model="$ctrl.place" placeholder="{{'placeSearchPlaceHolder' | translate}}"
                set-position="$ctrl.setPosition({position, place, city})">
        </div>
    </md-input-container>

</div>


<pick-drop layout="row" class="panel-inner dates"></pick-drop>



<div layout="row" layout-align="center center">
    <md-button ng-click="$ctrl.search({city:$ctrl.city, lat:$ctrl.geoposition.position.lat, lng:$ctrl.geoposition.position.lng, start:$ctrl.booking.start, end:$ctrl.booking.end})"
        class="sd-btn-accent" md-no-ink ng-bind="('search' | translate)" aria-label="('search' | translate)"></md-button>
</div>