<p>{{"emailValidationCodeMsg" |translate}}</p>
<div>
  <formly-form model="hash" fields="fields" form="form">
    <div layout="column" layout-align="center center">
      <p ng-style="error === true ? {'visibility':'visible'} : {'visibility': 'hidden'}">{{errorMsg}}</p>

      <md-button ng-click="submitCode()" ng-disabled="form.$invalid" type="submit" class="sd-btn-accent">{{::"confirm" | translate}}</md-button>

    </div>
  </formly-form>
</div>