<navigation></navigation>
<div class="wrapper">

  <!--class="anim-in-out anim-slide-below-fade" data-anim-sync="true"
  data-anim-speed="0"-->

  <div id="main" ui-view="main">


    <!-- Content -->


  </div>

  <!--<div class="push" hide-xs></div>-->

</div>

<bottom layout layout-align="space-between end"></bottom>