@import './vars';

html,body {
height:100%;
}

* {
  outline: none;
}
// Non smoothing
/*img {
  image-rendering: optimizeSpeed;             !*                     *!
  image-rendering: -moz-crisp-edges;          !* Firefox             *!
  image-rendering: -o-crisp-edges;            !* Opera               *!
  image-rendering: -webkit-optimize-contrast; !* Chrome (and Safari) *!
  image-rendering: optimize-contrast;         !* CSS3 Proposed       *!
  -ms-interpolation-mode: nearest-neighbor;   !* IE8+                *!
}*/

img.grayscale {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

bottom {

display: block;

}

.md-button {
  border-radius: 0;
}

.sd-link:hover {
  cursor: pointer;
}

.wrapper {
  //height: 100%;
//  margin-bottom: -@footerHeight;
  @media @xs {
    margin-bottom: 0;
    // margin-top:90px;

  }

  &:after {

    content: '';
    display:block;


  }

}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




.capitalized {
  text-transform: capitalize;
  margin-top:0;
}
.push {
 height: @footerHeight;
  //height:10px;
}

.container {
  padding:3px;
  padding-left:5px;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color:@accent;
  }
}

.no-border {
  border: none !important;
}

.error {
  color: @attention;
}

.error-block {

  color:@light;
  background-color: @attention !important;


}

.sd-btn-accent {
  background-color: @accent;
  color: @regular;
  &:hover {
    background-color:@light !important;
    color: @mdUnselected;
  }
  &:hover[disabled] {
    background-color: inherit !important; 

  }
}

.md-title {
  font-weight: 400;
}

.trivial {
  color: @trivial;
}

.accent-light {
  color: @accentLight;
}

svg {
  color: @light;
}

#startContainer {
  width: 240px;
  margin: @headerHeight auto;
  @media @xs {

    margin:26px auto;


  }
}

.error-badge {
  background-color: @attention;
  color:@light;
  font-size:14px;
 
}





#mainContent {
  @media @xs {
    margin-top: (@headerHightXS + 10px);
  }
}

.content-container {

  z-index: 1;

  background-color: @backgroundColor;

  md-content {

    padding: 0;

  }



  .content {

    background-color: @backgroundColor;

  }
}

.row-list {
  li {
    display: inline-block;
    list-style-type: none;
  }

}

md-progress-md-progress-circular.md-default-theme path, md-progress-circular path {
  stroke:@trivial;
}
.page {

  padding-left:@mainPadding;
padding-right:@mainPadding;
padding-top:@mainPadding;
padding-bottom:@mainPadding;
display: block;
margin-top:@headerHeight - 44;
@media @xs {
  padding-left:@mainPaddingXs;
  padding-right: @mainPaddingXs;
  margin-top:0;

}
@media @sm {

  padding-left:@mainPaddingSm;
padding-right:@mainPaddingSm;
padding-bottom: @mainPaddingSm;



}


}

md-dialog {

  @media @xs {

    min-width:100%;
    min-height: 100%;

    // .full-title {

    //   padding-right: 15%;


    // }





   

    svg {

      color:@regular;


    }
    .time-date {
      // width:auto;

      min-width:100% !important;


      .buttons {

        text-align: center !important; 

      }

      .headers, .days {

        margin-left:3.5rem !important;


      }


    }

    .time-inputs {

      width:100%;
      //left:6% !important;
      input {
        text-align:center !important;
        border-bottom: none !important;
        max-width:8.4rem !important;


      }

    }

    
    .time-control {

      width:50% !important;

      input {

        font-size: 4rem !important;



      }


    }

    .date-control {

      width:50% !important;


      .days, .headers {

        padding-left:0 !important;


      }


    }


  }


}