// Material overrides
@import 'vars';
@padding: 3px;
md-input-container {
  width:100%;
  // margin-top:@padding;
  // margin-bottom: @padding;
}

md-icon {

//   @media @xs {
//  height: 16px;
//     width: 16px;
//     min-height: 16px;
//     min-width: 16px;

// }

@media @sm, @xs {

  height: 18px;
    width: 18px;
    min-height: 18px;
    min-width: 18px;


}

}

.md-title {

  font-size:18px;
  
   @media @md {

    font-size: 22px;

  }

}
.md-body-1 {

   font-size: 14px;
   @media @md {

    font-size: 16px;

  }


}

.md-body-2 {

  font-size: 12px;
   @media @md {

    font-size: 14px;

  }




}

.md-headline {
 font-size:22px;
  @media @md {

    font-size: 24px;

  }


}

.md-subhead {

  font-size:12px;
  @media @md {

    font-size: 16px;

  }

}

.flex-xs-100 {
  width:100%;
}