@sansFontFamily: 'Roboto', sans-serif;
@formFontSize: 16px;
@regular: rgba(0, 0, 0, 0.87);
@backgroundColor:rgb(228,233,237);
@panelBackground: rgb(68, 74, 85);
@accent:rgb(250,211,52);
@trivial:rgb(203,203,203);
@light: rgb(250, 250, 250);
@attention: rgb(221,44,0);
@dark: rgb(10, 19, 39);
@xs: ~"(max-width:599px)";
@sm:~"(min-width:600px) and (max-width:960px)";
@md: ~"(min-width:961px)";
@xmd: ~"(min-width:920px) and (max-width:1280px)";
@lg: ~"(min-width:1281px)";
@gtXs:~"(min-width:600px)";
@mainPadding: 20px;
@mainPaddingSm:10px;
@mainPaddingXs:3px;
@accentLight: #95a5a6;
@underline: 4px;
@vListPadding: 3px;
@mdUnselected: rgba(0, 0, 0, 0.54);
@headerHightXS: 30px;
@headerHeight: 130px;
@footerHeight: 160px;
@graphicWidth: 45px;
@basePadding: 5px;

