<div flex="80" flex-sm="70" flex-xs="100" flex-xl="90" flex-offset-xl="10" flex-offset-xs="0" flex-offset="20" flex-offset-sm="30"
  class="content-container" <div infinite-scroll="$ctrl.loadMore()" infinite-scroll-immediate-check="false" infinite-scroll-use-document-bottom="false"
  infinite-scroll-disabled="$ctrl.scrollDisabled" infinite-scroll-disabled="$ctrl.scrollDisabled" class="content" id="mainContent"
  layout-xs="column" layout-align-xs="space-between center">

  <car-tile ng-repeat="car in $ctrl.list" ng-model="car" locale="$ctrl.locale" query="$ctrl.urlParams" on-filter-apply="$ctrl.update({params})">
  </car-tile>


  <div layout="row" layout-align="center" style="clear: both;" ng-style="{'visibility': $ctrl.scrollDisabled==true ? 'hidden' : 'visible' }">
    <md-progress-circular md-mode="indeterminate" ng-disabled="$ctrl.scrollDisabled"></md-progress-circular>
  </div>

</div>
</div>