@import '../../vars';

car-list {
display: block;
@media @md {
    margin-left: @mainPadding + 5px;
    margin-top:@headerHeight;

}
    @media @xs {

        margin-left:0;
       // margin-top:@headerHightXS + @mainPaddingXs;
       margin-top:0px;

    }

}