<flippy class="tile" flip="['custom:FLIP_EVENT_IN']" flip-back="['custom:FLIP_EVENT_OUT']" duration="400" timing-function="ease-in-out">
    <flippy-front class="flippy-front">
        <md-card>
            <md-icon md-svg-icon="filter" class="filter-icon" ng-click="flipBack()">
                <md-tooltip hide-xs>
                    {{::"filterByParams" | translate}}
                </md-tooltip>
            </md-icon>
            <span ng-if="car.release != null" style="position:absolute;z-index:2;">{{::"releaseIn" | translate:car}}</span>
            <img style="z-index:1;" ng-src="{{::car.model.image}}" class="md-card-image" alt="{{::car.model.title}}" ng-class="{'grayscale' : car.release != null}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">{{::car | carTitle}}</span>
                </md-card-title-text>
                <div class="year" ng-style="::{'border-color':car.color.hex}">
                    {{::car.year}}
                    <md-tooltip>
                        {{::car.color.title[locale]}}
                    </md-tooltip>
                </div>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between center">

                <div class="tile-front-content" layout="column" layout-align="space-around start">
                    <img ng-src="{{::car.model.maker.logo}}" alt="{{::car.model.maker.title}}">
                </div>

                <div class="tile-front-content" layout="column" layout-align="space-around start">
                    <div>
                        {{::car.volume}} {{::"liquidVolMeasureAbbr" | translate}}
                        <md-tooltip>
                            {{::"engineVol" | translate}}
                        </md-tooltip>
                    </div>
                    <div>
                        {{::car.price.runLimit}} {{::"distanceMeasureAbbr" | translate}}
                        <md-tooltip>
                            {{::"runLimit" | translate}}
                        </md-tooltip>
                    </div>
                </div>

                <div class="tile-front-content" layout="column" layout-align="space-around start">
                    <div>
                        {{::car.wheelDrive.title[locale]}}
                        <md-tooltip>
                            {{::"wheelDrive" | translate}}
                        </md-tooltip>

                    </div>
                    <div>
                        <md-icon md-svg-icon="car:{{car.body.title.en | lowercase}}" class="car-body-icon" aria-label="{{::car.body.title[locale]}}">
                            <md-tooltip>
                                {{::car.body.title[locale]}}
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div class="tile-front-content no-border" layout="column" layout-align="space-around start">
                    <div>
                        <md-icon md-svg-icon="car:{{::car | transmission}}" aria-label="{{::'transmission' | translate}}">
                            <md-tooltip>
                                {{car | transmission | translate}}
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div>
                        {{::car.fuel.title[locale]}}
                    </div>
                </div>


            </md-card-content>

            <md-card-footer>
                <md-card-actions layout="row" layout-align="space-between end">
                    <div>
                        <div class="sd-rub md-title">{{::car.price.limited | groupDigits}}</div>
                        <div class="md-caption accent-light">
                            {{::car.price.day.limited}} / {{::"day" | translate}}
                        </div>
                    </div>
                    <div>
                        <md-button class="sd-btn-accent" ng-click="booking()">{{::"bookingBtn" | translate}}</md-button>
                    </div>

                </md-card-actions>
            </md-card-footer>


        </md-card>
    </flippy-front>


    <flippy-back>
        <md-card class="flippy-back md-caption">

            <md-content class="md-no-momentum">
                <ul>


                    <li id="carClass{{::car.id}}" ng-click="onClick($event, {carClass:car.carClass.id})" ng-class="::{'sd-selected':q.carClass==car.carClass.id}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2">{{::car.carClass.title[locale]}}</span>
                            <span>{{'carClass' | translate}}</span>
                        </div>

                    </li>

                    <!-- Transmission -->

                    <li ng-if="car.isAutomatic===true" id="isAutomatic{{::car.id}}" ng-click="onClick($event, {isAutomatic:car.isAutomatic})"
                        ng-class="::{'sd-selected':q.isAutomatic=='true'}">
                        <div layout="column" layout-align="center center">
                            <md-icon md-svg-icon="car:automatic" aria-label="{{::'transmission' | translate}}"></md-icon>
                            <span>{{::car | transmission | translate}}</span>
                        </div>
                    </li>

                    <li ng-if="car.isAutomatic===false" id="isManual{{::car.id}}" ng-click="onClick($event, {isAutomatic:car.isAutomatic})" ng-class="::{'sd-selected':q.isAutomatic=='false'}">
                        <div layout="column" layout-align="center center">
                            <md-icon md-svg-icon="car:manual" aria-label="{{::'transmission' | translate}}"></md-icon>
                            <span>{{::car | transmission | translate}}</span>
                        </div>
                    </li>


                    <!-- Year -->

                    <li id="maxYear{{::car.id}}" ng-click="onClick($event, {maxYear:car.year})" ng-class="::{'sd-selected':q.maxYear<=car.year}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2 sd-lt-eq">{{::car.year}}</span>
                            <span>{{::"producedYear" | translate}}</span>
                        </div>
                    </li>

                    <li id="minYear{{::car.id}}" ng-click="onClick($event, {minYear:car.year})" ng-class="::{'sd-selected':q.minYear>=car.year}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2 sd-gt-eq">{{::car.year}}</span>
                            <span>{{::"producedYear" | translate}}</span>
                        </div>
                    </li>

                    <!-- end year -->

                    <!-- Maker -->

                    <li id="carMaker{{::car.id}}" ng-click="onClick($event,{carMaker:car.carMaker})" ng-class="::{'sd-selected':q.carMaker==car.carMaker}">
                        <div layout="column" layout-align="center center">
                            <img ng-src="{{car.model.maker.logo}}" alt="{{::car.model.maker.title}}">
                            <span class="capitalized">{{::car.model.maker.title}}</span>
                        </div>
                    </li>


                    <!-- Model -->

                    <li id="model{{::car.id}}" ng-click="onClick($event, {model:car.model.id})" ng-class="::{'sd-selected':q.model==car.model.id}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2">{{::car.model.title}}</span>
                            <span>{{::'carModel' | translate}}</span>
                        </div>
                    </li>

                    <!-- Wheeldrive -->

                    <li id="wheelDrive{{::car.id}}" ng-click="onClick($event, {wheelDrive:car.wheelDrive.id})" ng-class="::{'sd-selected':q.wheelDrive==car.wheelDrive.id}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2">{{::car.wheelDrive.title[locale]}}</span>
                            <span>{{::'wheelDrive' | translate}}"</span>
                        </div>
                    </li>


                    <!-- Fuel -->

                    <li id="fuel{{::car.id}}" ng-click="onClick($event, {fuel:car.fuel.id})" ng-class="::{'sd-selected':q.fuel==car.fuel.id}">
                        <div layout="column" layout-align="center center">
                            <md-icon md-svg-icon="car:hatchback" aria-label="{{::'fuel' | translate}}"></md-icon>
                            <span>{{::car.fuel.title[locale]}}</span>
                        </div>
                    </li>

                    <!-- Engine vol -->
                    <li id="minVol{{::car.id}}" ng-click="onClick($event, {minVol:car.volume})" ng-class="::{'sd-selected':q.minVol>=car.volume}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2 sd-lt-eq sd-cubic">{{::car.volume}} {{::"cubicMeasure" | translate}}</span>
                            <span>{{::'engineVol' | translate}}"</span>
                        </div>

                    </li>

                    <li id="maxVol{{::car.id}}" ng-click="onClick($event, {maxVol:car.volume})" ng-class="::{'sd-selected':q.maxVol<=car.volume}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2 sd-gt-eq sd-cubic">{{::car.volume}} {{::"cubicMeasure" | translate}}</span>
                            <span>{{::'engineVol' | translate}}"</span>
                        </div>
                    </li>
                    <!-- // end engine vol -->


                    <li id="color{{::car.id}}" ng-click="onClick($event,{color:car.color.id})" ng-class="::{'sd-selected':q.color==car.color.id}">
                        <div layout="column" layout-align="center center">
                            <div class="sd-color" ng-style="::{'background-color':car.color.hex}"></div>
                            <span>{{::'color' | translate}}</span>
                        </div>

                    </li>

                    <li id="body{{::car.id}}" ng-click="onClick($event,{body:car.body.id})" ng-class="::{'sd-selected':q.body==car.body.id}">
                        <div layout="column" layout-align="center center">
                            <span class="md-body-2">{{::car.body.title[locale]}}</span>
                            <span>{{::'carBody' | translate}}</span>
                        </div>
                    </li>
                    <!--  <li layout="column" layout-align="center center" ng-click="onClick($event)">
                          <span class="md-body-2 sd-lt-eq">{{car.pricePlan.runLimit}} {{"distanceMeasureAbbr" | translate}}</span>
                          <span>{{"runLimit" | translate}}</span>
                      </li>
                      <li layout="column" layout-align="center center" ng-click="onClick($event)">
                          <span class="md-body-2 sd-gt-eq">{{car.pricePlan.runLimit}} {{"distanceMeasureAbbr" | translate}}</span>
                          <span>{{"runLimit" | translate}}</span>
                      </li>-->



                </ul>
            </md-content>

            <md-card-footer>
                <md-card-actions layout="row" layout-align="space-between end">

                    <div>
                        <md-button ng-click="flip()">{{::"cancel" | translate}}</md-button>
                    </div>

                    <div>
                        <md-button class="sd-btn-accent" ng-click="applyFilter()">{{::"applyFilter" | translate}}
                        </md-button>
                    </div>


                </md-card-actions>
            </md-card-footer>


        </md-card>


    </flippy-back>


</flippy>