@import '../../vars';
@carCardWidth: 280px;
@carCardHeight: 280px;
@padding: 4px;
@frontSvg:24px;
@graphicWidth: 45px ;
@embossed: rgb(139, 153, 154);
@embossedFontColor: rgb(245, 245, 245);
@border: rgb(84, 68, 68);
@filterBtnSize: 68px;

@frontContentWidth:58px;
@frontContentHeight:48px;

@buttonShadow:8px;

// Ratio
@sm:1.2;



// Vendor
flippy {
  float: left;
  -webkit-perspective: 600px;
          perspective: 600px;
  -ms-perspective: none;
}
flippy flippy-front,
flippy flippy-back {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
flippy flippy-front {
  z-index: 900;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotateY(0deg);
}
flippy flippy-back {
  z-index: 800;
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
          transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotateY(180deg);
}
flippy.flipped flippy-front {
  z-index: 900;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotateY(180deg);
}
flippy.flipped flippy-back {
  z-index: 1000;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotateY(0deg);
}
// End vendor css


flippy.tile {
  position: relative;
  background-color: @backgroundColor;
  float: left;
  margin: 0;
  padding: 1%;
  font-size: .8em;
  

     width: @carCardWidth;
     height: @carCardHeight;

  
 



  @media @xs {

    margin-bottom: 5%;
    margin-top:0;
    padding-left:0;
    padding-right:0;

  }

  span, .tile-front-content div {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  md-card {

    margin: 0;
    padding: @padding;
    height: @carCardHeight;

    md-card-content {
      padding: 0;
    }

    md-card-title {
     padding:0;
    }

    md-card-title-text {
      text-transform: capitalize;
    }

    md-card-footer {
      padding: 0;
    }



    md-card-actions {
      margin: 0;
      // For action button
      // div:nth-child(2) {
      //   position: relative;
      // }

    }
    

    .discount:before {

      content: '\002D';
    }

    .discount:after {
      content: '\0025';
    }

  }

  .flippy-front svg {
    width: @frontSvg;
    color: @accentLight;
  }
  .year {
    border-bottom: @underline solid;
    height: 20px;
  }

  .filter-icon {
    cursor: pointer;
    position: absolute;
    right:@padding;
    z-index:20;
    //margin-right: 0;

  }

  // .sd-btn-accent {
  //   position: absolute;
  //   bottom: -@padding;
  //   right: -@padding;
  

  // }

 

  .tile-front-content {
    border-right: 1px @trivial solid;
    padding-left: @padding;
    width: @frontContentWidth;
    height: @frontContentHeight;
    color: @accentLight;

    div {
      width: 55px;
    }

    .car-body-icon svg {
      width: @graphicWidth;
    }

    svg {
      color: @accentLight;
    }
    img {
      width: 35px;
      height: auto;
    }

  }


  .flippy-back {
    width: @carCardWidth;
    height: @carCardHeight;
   position: relative;

    md-content {
      color: inherit;
    }

    ul {
      margin: 0;
      padding: 0;

    }

    .sd-selected {
      -moz-box-shadow: inset 0 0 @buttonShadow #000000;
      -webkit-box-shadow: inset 0 0 @buttonShadow #000000;
      box-shadow: inset 0 0 @buttonShadow #000000;
      background-color: @embossed;
      color: @embossedFontColor;
    }

    li {
      float: left;
      color: @light;
      background-color: @accentLight;
      width: @filterBtnSize;
      height: @filterBtnSize;
      list-style-type: none;
      &:hover {
        cursor: pointer;
      }

      &.sd-selected .sd-color {
        -moz-box-shadow: inset 0 0 4px #000000;
        -webkit-box-shadow: inset 0 0 4px #000000;
        box-shadow: inset 0 0 4px #000000;
      }

      div {
        width: @filterBtnSize;
        height: @filterBtnSize;
        border: 1px solid @border;
      }

      span {
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
        & + span {
          text-transform: lowercase;
        }
      }

      md-icon {
        margin: 0;
        width: @graphicWidth;
        & + span {
          margin-top: @padding;
        }
      }

      .sd-color {

        width: @graphicWidth;
        height: 25px;
        margin-bottom: @padding;
        border: 0;
      }

      img {
        width: @graphicWidth;
        height: auto;
        display: block;
      }

      md-card-actions {

        padding-top: 1px;

      }


    }

  }
}






