@import '../../../../vars';


.sb-wizard-nav {

  padding-left:0;

    .selected {
      border-bottom: 4px solid @accent;

    }
  
   

  li {

    display: inline-block;

    svg {

      width:100px;
      height:50px;


    }

  


    span {

      margin-right:10px;
      margin-left:10px;

       


    }

  

    &:after {
   

      background: url("https://selectdrive.ru/assets/images/icons/arrow_right.svg");
      background-repeat: no-repeat;
      content:url('https://selectdrive.ru/assets/images/Icd9n.png');
      width:22px;
      height: 22px;
      background-position: 10px;


    }

    &:last-child:after {

      background:none;


    }

    
    

  }


}