<h1 class="md-headline">{{::"register" | translate}}</h1>
<form ng-if="$ctrl.formReady" ng-show="!$ctrl.isAuthorized" ng-submit="$ctrl.submit($ctrl.user)" novalidate>

  <formly-form model="$ctrl.user" fields="$ctrl.fields" options="$ctrl.options" form="$ctrl.form">
    <div layout="row" layout-align="center center">
      <md-button ng-disabled="$ctrl.form.$invalid" type="submit" class="sd-btn-accent">{{::"register" | translate}}</md-button>
      <md-button ng-if="$ctrl.showLoginBtn==true" ng-click="$ctrl.onLogin()">{{::"login" | translate}}</md-button>
    </div>
  </formly-form>
</form>
<p ng-show="$ctrl.isAuthorized==true" style="text-align:center">{{::'activationEmailSent' | translate}}</p>