@import '../../vars';
bottom {
height:@footerHeight;
@media @xs {

  height:16px;


}
}
footer {
  bottom:0;
  width:100%;

  height: @footerHeight;

  @media @md {
    padding-left: @mainPadding;
    padding-right: @mainPadding;
  }
  color: @panelBackground;
  svg {
    pointer-events: auto;
    color: @panelBackground;
    &:hover {
      color: @accent;
    }
  }
  .phone {
    .md-caption {
      vertical-align: super;
    }
  }

  h4 {
    margin-right: 0;
    text-transform: uppercase;
  }

  ul {

    padding: 0;

    li {
      list-style-type: none;
      padding-bottom: @vListPadding;
    }

  }

  .copy-container {
    margin-top: 10px;
  }

  img {
    width: 120px;
    height: auto;
  }

  @media @xs {
    height: auto;
    .copy-container {
      margin-top: 0;
    }
  }



}