<footer layout="row" layout-align="space-between center">


    <div flex="25" hide-xs>
        <h4 translate-once="info"></h4>
        <ul>
            <li><a href="#">О Нас</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Партнеры</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div flex="25" hide-xs>
        <h4 translate-once="forPartners"></h4>
        <ul>
            <li><a href="#">Партнерская программа</a></li>
            <li><a href="#">Для вашего бизнеса</a></li>
        </ul>
    </div>
    <div flex="25" layout="column" flex-xs="100" layout-xs="row" layout-align-xs="start center">

        <h4 class="phone" hide-xs><span class="md-caption">+7(812)</span><span class="md-headline">648-50-80</span></h4>

        <div layout="row" hide-xs>
            <div flex="15">
                <a href="">
                    <md-icon md-svg-icon="social:twitter" aria-label="Twitter"></md-icon>
                </a>
            </div>

            <div flex="15">
                <a href="">
                    <md-icon md-svg-icon="social:fb" aria-label="Facebook"></md-icon>
                </a>
            </div>
            <div flex="15">
                <a href="">
                    <md-icon md-svg-icon="social:vk" aria-label="VK"></md-icon>
                </a>
            </div>
        </div>
        <div layout="row" flex-xs="100" class="copy-container" layout-align-xs="end center">
            <span class="md-caption">&copy;Selectdrive</span>
        </div>
    </div>
    <div flex="25" hide-xs>
        <h4>
            <img src="/assets/images/logo_gray.png" alt="Selectdrive">
        </h4>
    </div>

</footer>