<h1 class="md-headline">{{::"mainMenu.payment" | translate}}</h1>
<div layout layout-xs="column" layout-align="space-between start">
  <div flex="50" flex-xs="100">
    <p>Описание</p>

  </div>
  <div flex="50" flex-xs="100" layout="column">
    <!-- Price -->
    <div layout layout-align="space-between center" class="prices">

      <div>
        {{::"rentPrice" | translate}}:
      </div>

      <div class="sd-rub">
        {{::$ctrl.car.price.limited | groupDigits}}
      </div>

    </div>
    <!-- initial fee -->
    <h2 class="md-title">{{::"initialFee" | translate}} (30 - 100%):</h2>
    <div layout layout-align="space-between center">
      <div flex="70">

        <md-input-container>
          <label>{{'inputInitialPayment' | translate:$ctrl.translations}}</label>
          <input ng-model="$ctrl.frm.fee" ng-change="$ctrl.paySumChange()" type="number">

        </md-input-container>


      </div>

      <div flex="20" class="prices" layout layout-align="center center" ng-class="{'error-block' : $ctrl.percentOfTotal < $ctrl.minPaymentPercent}">
        <div>
          {{$ctrl.percentOfTotal}}%
        </div>

      </div>


    </div>



    <md-radio-group ng-model="$ctrl.frm.paymentMethod" class="payment-radio-group">
      <md-radio-button value="bankCard">
        <div layout layout-align="space-between center">
          <div>{{::"bankCard" | translate}}</div>
          <div>{{::"noFee" | translate}}</div>
        </div>
      </md-radio-button>
      <md-radio-button value="qiwi">
        <div layout layout-align="space-between center">
          <div> {{::"qiwi" | translate}}
          </div>
          <div>{{::"fee" | translate:$ctrl.frm}}</div>
        </div>
      </md-radio-button>
      <md-radio-button value="webmoney">
        <div layout layout-align="space-between center">
          <div> {{::"webmoney" | translate}}
          </div>
          <div>{{::"fee" | translate:$ctrl.frm}}</div>
        </div>
      </md-radio-button>
      <md-radio-button value="sberOnline">
        <div layout layout-align="space-between center">
          <div> {{::"sberOnline" | translate}}
          </div>
          <div>{{::"fee" | translate:$ctrl.frm}}</div>
        </div>
      </md-radio-button>
    </md-radio-group>
    <div layout layout-align="space-between center">
      <div flex="70">
        <md-input-container>
          <input ng-model="$ctrl.frm.coupon" placeholder="{{::'coupon' | translate}}">
        </md-input-container>
      </div>
      <div flex="30" layout layout-align="end center">
        <div>
          <md-button ng-disabled="$ctrl.frm.coupon.length===0" ng-click="$ctrl.submitPromo()">{{::"send" | translate}}</md-button>
        </div>
      </div>
    </div>

    <div layout layout-align="space-between center">

      <div flex="70" layout layout-align="space-between center" class="prices">

        <div>
          {{"toPay" | translate}}:
        </div>

        <div ng-style="{'visibility': $ctrl.minPaymentPercent <= $ctrl.percentOfTotal ? 'visible' : 'hidden'}" class="sd-rub">
          {{+$ctrl.frm.fee | groupDigits}}
        </div>

      </div>

      <div flex="30" layout layout-align="end center">
        <div>
          <md-button ng-disabled="$ctrl.minPaymentPercent > $ctrl.percentOfTotal" ng-click="$ctrl.onPay()" class="sd-btn-accent">{{::"pay" | translate}}</md-button>
        </div>
      </div>



    </div>


  </div>

</div>