<div flex="100" class="sd-link" ng-click="$ctrl.disabled || $ctrl.onClick()">
    <h3 class="md-subheader">{{::$ctrl.header}}</h3>

    <div layout="row" layout-align="start center">
        <div>
            <md-icon md-svg-icon="calendar"></md-icon>

        </div>
        <div>
            <div class="md-caption">{{$ctrl.date | date:'EEEE'}}</div>
            <span>{{$ctrl.date | date:'d'}} {{$ctrl.date | date:'MMMM'}}</span>
        </div>

    </div>

    <div layout="row" layout-align="start center">
        <div>
            <md-icon md-svg-icon="clock"></md-icon>
        </div>
        <div>
            <span>{{$ctrl.date | date:'shortTime'}}</span>

        </div>
    </div>

</div>