// Datetimepicker
@import '../../vars';

datetime-picker {
  md-icon {

    margin-right:6px;


  }

  .md-caption {

    text-transform: lowercase;

  }

}
.datetimepicker-now-btn {
  display: none !important;
}

.time-date > .display > .content {
  background-color: @regular;
}

.time-date > .display > .title {
  background-color: @dark;
  font-size: 90%;
}

.time-date.full-mode > .buttons {
  background-color: @light;
}

.time-date.full-mode > .buttons > button {
  color: inherit !important;
}

.time-date > .display > .content > .sub-title {
  color: @accent;
  opacity: 0.5;
}

.time-date > .control > .slider > .date-control > .days .day-cell.selected {
  background-color: @regular;
  color: @accent;
}

.time-date > .control > .slider > .date-control > .days .day-cell.today {
  color: @accent;
}

.time-date > .control > .slider > .date-control > .days .day-cell {
  color: @regular;
}

.time-date button, .time-date .button {
  color: inherit;
}

.time-date > .control > .slider > .time-control > .time-inputs > input {
  color: @regular;
}

.time-date > .control > .slider > .date-control > .days .day-cell {
  color: @regular;
}

.time-date > .control > .slider > .date-control > .days .day-cell:hover,
.time-date > .control > .slider > .date-control > .days .day-cell:active {
  background-color: @regular;
  color: @accent;
}

.time-date > .control > .slider > .date-control > .days .day-cell:disabled {
  background-color: inherit;
  color: @trivial;
  cursor: auto;
}

.time-date > .control > .slider > .date-control, .time-date > .control > .slider > .time-control {
  overflow-x: hidden;
  overflow-y: auto;
}

// Compact mode
.time-date > .control > .full-title {
  background-color: @dark;
  font-size: 90%;
}


