<md-dialog class="fullscreen-dialog">
   <md-dialog-content>
       <time-date-picker ng-model="model" on-cancel="onCancel()" on-save="onSave($value)" mindate="{{mindate}}"
                         maxdate="{{maxdate}}" locale="{{locale}}" header="{{}}"></time-date-picker>
   </md-dialog-content>
</md-dialog>
