@import '../../vars';

pick-drop {

   svg {
    color: @accentLight;
  }

  h3 {

    background-color: inherit !important;

  }
  


     .layout-row {
      margin-top: 20px;
      margin-bottom: 20px;
    }



}