<datetime-picker flex="50" header="{{'pickUp' | translate}}" date="$ctrl.booking.start" mindate="$ctrl.setting.minStart"
  maxdate="$ctrl.setting.maxStart" locale="{{$ctrl.locale}}" on-change="$ctrl.setStart({start})" display-mode="date" default-date="$ctrl.booking.start"
  disabled="$ctrl.disabled">

</datetime-picker>

<datetime-picker flex="50" header="{{'dropOff' | translate}}" date="$ctrl.booking.end" display-mode="date" locale="{{$ctrl.locale}}"
  on-change="$ctrl.setEnd({end})" default-date="$ctrl.booking.end" mindate="$ctrl.setting.minEnd" maxdate="$ctrl.setting.maxEnd"
  disabled="$ctrl.disabled">

</datetime-picker>