@import '../../vars';

@imageWidth:100%;
@imageHeight:auto;
@thumbHeight:75px;
@thumbPadding:10px;

@circle:20px;

@margins:35px;




.prices {

background-color:@light;
height: 50px;
padding:3px;
}

.car-summary {
        & > div + div {

                padding-left:@mainPadding;


        }
        @media @xs {

                & > div {
                margin-bottom:@margins;
                }

                 & > div + div {

                padding-left:@mainPaddingXs;
                padding-right:@mainPaddingXs;


        }

               
                }

        @media @sm {

                 & > div + div {

                padding-left:@mainPaddingSm;
                 


        }

               


        }




        
        display: -webkit-box;

  svg {
      color:@accentLight;

  }

h2 {

        margin-bottom: @margins;
        @media @xs {

                //margin-top:@margins;

        }


}


}

.run-limit {
          margin-top:@margins;
  }
  
.car-details {
        margin-top:@margins;

div {

        margin-top:10px;
}


}

.maker-logo {
        max-width: @margins;
        height: auto;
        display: block;
        margin-right:3px; 
}

.km {

        &:after {

             content: '\00a0km';


        }

}

.circle {
 width:@circle;
 height:@circle;
 border-radius: 50%;
 margin-right:3px; 
}
.selection-result-image {

  display: block;
 width:@imageWidth;;
  
  height: auto;



}
.images-container {

width:@imageWidth;
height:100px;
@media @xs {
height:auto;
}
overflow: hidden

}



.nav-bar-inner {

  .md-accent  {


  color:@mdUnselected;




}

md-nav-ink-bar {
        color:@mdUnselected;
        background: @mdUnselected;
}






}
