<h1 class="md-headline">{{::"selectionResult" | translate}}</h1>
<div layout="row" layout-xs="column" layout-align="space-between start" class="car-summary md-body-1">
  <div flex="40" flex-gt-sm="30" flex-xs="100" layout="column">
    <div ng-show="$ctrl.showMainImg">
      <img class="selection-result-image" ng-src="{{$ctrl.image}}" alt='{{$ctrl.car.model.title}}'>
    </div>
    <div class="images-container">

      <!-- User photos horizontal scroll -->

      <image-scroll images="$ctrl.car.images" on-image-click="$ctrl.selectImage({src})" scroll-width="75"></image-scroll>


    </div>


  </div>

  <!-- Column 2 -->
  <div flex="30" flex-gt-sm="40" flex-xs="100" layout="column">
    <h2 class="md-title capitalized">{{$ctrl.car.model.maker.title}}&nbsp;{{$ctrl.car.model.title}}&nbsp;{{$ctrl.car.year}}</h2>
    <div layout="row">

      <div flex="50" layout="row" layout-align="start center">
        <div>
          <img class="maker-logo" ng-src="{{$ctrl.car.model.maker.logo}}">
        </div>
        <div class="capitalized">{{$ctrl.car.model.maker.title}}</div>
      </div>

      <div layout="row" flex="50">
        <div class="circle" ng-style="{'background-color':$ctrl.car.color.hex}"></div>
        <div>{{$ctrl.car.color.title[$ctrl.locale]}}</div>
      </div>


    </div>
    <div class="run-limit">
      <span>{{"runLimit" | translate}}:&nbsp;</span>
      <span class="km">{{$ctrl.runLimit | groupDigits}}</span>
    </div>

    <div ng-if="$ctrl.age">
      <span>{{"age" | translate}}:&nbsp;</span>
      <span>{{$ctrl.age}}</span>
    </div>
    <div class="car-details">
      <div layout="row">
        <div flex="30" flex-xs="50">
          <md-icon md-svg-icon="passenger" aria-label="passengers"></md-icon>
          &#x2715; {{$ctrl.car.model.passengers}}
        </div>
        <div flex="70" flex-xs="50" ng-if="$ctrl.car.isAutomatic==true">
          <md-icon md-svg-icon="car:automatic" aria-label="{{'transmission' | translate}}"></md-icon>
          {{"automatic" | translate}}

        </div>
        <div flex="70" flex-xs="50" ng-if="$ctrl.car.isAutomatic==false">
          <md-icon md-svg-icon="car:manual" aria-label="{{'transmission' | translate}}"></md-icon>
          {{"manual" | translate}}

        </div>

      </div>

      <div layout="row">
        <div flex="30" flex-xs="50">
          <md-icon md-svg-icon="luggage" aria-label="luggage"></md-icon>
          &#x2715; {{$ctrl.car.model.luggages}}
        </div>
        <div flex="70" flex-xs="50" ng-if="$ctrl.car.conditioning==true">
          <md-icon md-svg-icon="conditioner" aria-label="conditioner"></md-icon>
          {{"conditioning" | translate}}
        </div>
        <div flex="70" flex-xs="50" ng-if="$ctrl.car.conditioning==false">
          <md-icon md-svg-icon="conditioner_no" aria-label="no conditioner"></md-icon>
          {{"conditioning" | translate}}
        </div>

      </div>

      <div layout="row">

        <div flex="30" flex-xs="50">
          <md-icon md-svg-icon="door" aria-label="doors"></md-icon>
          &#x2715; {{$ctrl.car.doors}}
        </div>

        <div flex="70" flex-xs="50">
          <!--<md-icon md-svg-icon="co2" aria-label="co2"></md-icon>-->
          {{"emission" | translate}} {{"co2abbr" | translate}}

        </div>
      </div>

      <div layout="row">

        <div flex="30" flex-xs="50">
          <md-icon md-svg-icon="engineVol" aria-label="engine volume"></md-icon>
          &#x2715; {{$ctrl.car.volume}}
        </div>

        <div flex="70" flex-xs="50">
          {{$ctrl.car.fuel.title[$ctrl.locale]}}

        </div>
      </div>
    </div>

  </div>
  <!-- Column 3 -->
  <div flex="30" flex-xs="100" layout-align="end start">
    <div flex="100">
      <pick-drop disabled="true" layout="row" flex="100" style="margin-left:0;"></pick-drop>
    </div>

    <div flex="100" layout="column" class="price-block">
      <div layout="row">
        <div flex="50" layout layout-align="center center" class="md-title prices" style="margin-right:3px;">
          <div class="sd-rub" class="md-title">
            <span>{{$ctrl.car.price.limited | groupDigits}}</span>
          </div>
        </div>
        <div flex="50" class="prices" layout layout-align="center center">
          <div class="sd-rub">
            <span>{{$ctrl.car.price.day.limited | groupDigits}} / {{"day" | translate}}</span>
          </div>
        </div>
      </div>
      <md-button flex class="sd-btn-accent" ng-click="$ctrl.next()">{{"continueBooking" | translate}}</md-button>

    </div>

  </div>



</div>
<div flex="100" hide-xs>
  <md-nav-bar class="nav-bar-inner" md-selected-nav-item="$ctrl.selected" md-no-ink nav-bar-aria-label="Know more">
    <md-nav-item ng-repeat="item in $ctrl.about" md-nav-click="$ctrl.itemChange(item.id)" name="{{item.title}}">
      {{item.title}}
    </md-nav-item>
  </md-nav-bar>
  <p ng-bind-html="$ctrl.selectedContent">
  </p>
</div>
</div>