<md-nav-bar md-selected-nav-item="$ctrl.selected" md-no-ink nav-bar-aria-label="Select cars by class" hide-xs>
    <md-nav-item md-nav-click="$ctrl.carClassChange(0)" name="all">{{"all" | translate}}</md-nav-item>
    <md-nav-item ng-repeat="cls in $ctrl.carClasses" md-nav-click="$ctrl.carClassChange(cls.id)"
                 name="{{::cls.title.en}}">
        {{::cls.title[$ctrl.locale]}}
    </md-nav-item>
</md-nav-bar>