<h1 class="md-headline">{{::"login" | translate}}</h1>
<form ng-submit="$ctrl.submit($ctrl.user)">
  <formly-form ng-if="$ctrl.formReady" model="$ctrl.user" fields="$ctrl.fields" options="$ctrl.options" form="$ctrl.form">
    <div layout="row" class="error-badge" layout-align="space-between start" ng-style="{'visibility': $ctrl.wrongCredentials==true ? 'visible' : 'hidden'}">

      <span class="md-body-2">
      {{::"wrongCredentials" | translate}}
    </span>

      <!--<a href="/reset" class="md-caption">

  {{::"resetPassword" | translate}}

  </a>-->



    </div>

    <div layout="row" layout-align="space-between center" layout-align-xs="center center">
      <md-button type="submit" ng-disabled="$ctrl.form.$invalid" class="sd-btn-accent" md-prevent-menu-close>{{::"login" | translate}}</md-button>
      <md-button ng-click="$ctrl.register()">{{::"registration" | translate}}</md-button>

    </div>
  </formly-form>
</form>