@import '../../vars';
#topNav {
  background-color: @dark;
  a, a svg {
    color: @light;

  }
  a md-icon {
    padding-right:3px;
    color: inherit;
  }

@media @md {

  padding-left:@mainPadding;
}

@media @xs {
  padding-left:@mainPaddingXs;
  padding-right: @mainPaddingXs;

}

@media @sm {

  padding-left:@mainPaddingSm;
padding-right:@mainPaddingSm;



}

}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  // Nav tabs

  .md-nav-bar {
    background-color: @light;
    height: 44px;
    /* @media @lg {
       padding-left: 16px;
     }*/
    md-nav-ink-bar {
      height: @underline;
    }
  }

  .md-nav-item {

    @media @xmd {
      margin-right: 3%;
      font-size: 80%;
    }

    @media @lg {
      margin-right: 7%;
    }

  }
}

.car-select-frm-container {
  height: 0;
}

#carClassMenu {
  height: 48px;
  background-color: @light;
}
#sd-sidenav-btn {

  position: relative;
  cursor: pointer;
  width: 35px;
  height: 20px;
  background: none;
  margin-right: 3px;

  span,
  span:before,
  span:after {
    position: absolute;
    background-color: @panelBackground;
    height: 4px;
    right: 0;
    top: 0;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    transition: all 0.5s ease;
    width: 25px;
  }

  span:before,
  span:after {
    content: '';
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  &.hamburger {
    span {
      &:before {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
      }
      &:after {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
      }
    }
  }

  &.arrow-right {
    span {
      -webkit-transform: rotate(-180deg) translateY(-7px) translateX(0);
      transform: rotate(-180deg) translateY(-7px) translateX(0);
      &:before,
      &:after {
        width: 15px;
      }
      &:before {
        -webkit-transform: rotate(45deg) translateY(14px) translateX(-8px);
        transform: rotate(45deg) translateY(14px) translateX(-8px);
      }
      &:after {
        -webkit-transform: rotate(-45deg) translateY(-14px) translateX(-8px);
        transform: rotate(-45deg) translateY(-14px) translateX(-8px);
      }
    }
  }

  &.arrow-left {
    span {
      -webkit-transform: rotate(180deg) translateY(-7px) translateX(0);
      transform: rotate(180deg) translateY(-7px) translateX(0);
      &:before,
      &:after {
        width: 15px;
      }
      &:before {
        -webkit-transform: rotate(-45deg) translateY(6px) translateX(0);
        transform: rotate(-45deg) translateY(6px) translateX(0);
      }
      &:after {
        -webkit-transform: rotate(45deg) translateY(-6px) translateX(0);
        transform: rotate(45deg) translateY(-6px) translateX(0);
      }
    }
  }

}



#mainNav {

  width: 100%;
  background-color: @light;

  @media @xs {
    position: fixed;
    top: 0;
    height: @headerHightXS;
    z-index: 61;
    background-color: @light;
    img {
      max-height: @headerHightXS;
      width: auto;
    }
  }

  @media @md {
    padding-left: @mainPadding;
  }

  h1 {
   // font-size: 14px;
    margin-left: 3px;
    font-weight: normal;
    text-transform: lowercase;
    line-height: 10px;
    @media @xs {

      font-size: 12px;


    }
  }

  a {
    @media @sm {
      font-size: 80%;
    }
  }

  .phone {
    @media @sm {
      margin-left: 10px;
    }
  }

  span {

    @media @sm {
      font-size: 80%;
      font-weight: bold;
    }
  }

  span.md-caption {
    vertical-align: super;
    @media @sm {
      vertical-align: baseline;
      font-size: 80%;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}