@import '../../vars';
#sd-sidenav {
  position: fixed;
  min-width: 100%;
  top: @headerHightXS;
  overflow: scroll;
  padding: 6px;
  background-color: @panelBackground;
  //color:@light;

  ul {
    padding-left: 0;
    li {

      margin-top:6px;


    }
  }

  md-content {
    background-color: @panelBackground;
    color: @trivial;

  }



span {

  display: block;
  color: @accent;
  margin-top:16px;


}



}