<md-sidenav md-direction="right" id="sd-sidenav" md-component-id="sdSidenav" class="md-sidenav-right" md-disable-scroll-target="body"
    md-is-open="$ctrl.sideNavOpen" md-disable-backdrop="true" ng-click="$ctrl.sideNavOpen=false">



    <md-content ng-click="onSideNavMenuClick($event)">


        <div layout="column">

            <div layout layout-align="space-between center" ng-if="$ctrl.user.isAuthorized==false">
                <md-button ui-sref="app.login">{{::'login' | translate}}</md-button>
                <md-button class="sd-btn-accent" ui-sref="app.registration">{{::'register' | translate}}</md-button>
            </div>

            <md-divider ng-if="$ctrl.user.isAuthorized==false"></md-divider>

            <span>{{::"search" | translate}}:</span>
            <div layout layout-align="space-between center">

                <ul flex="70">

                    <li class="md-title">{{$ctrl.city}}</li>
                    <li ng-show="$ctrl.place" class="truncate">{{$ctrl.place}}</li>
                    <li>{{$ctrl.start}}</li>
                    <li>{{$ctrl.end}}</li>

                </ul>

                <div flex="30">

                    <md-button class="sd-btn-accent" ui-sref="app.home">{{::'change' | translate}}</md-button>

                </div>




            </div>

            <md-divider></md-divider>

            <span ng-if="$ctrl.user.isAuthorized==true">{{::$ctrl.user.data.email}}</span>

            <ul layout="column" ng-if="$ctrl.user.isAuthorized==true" class="md-title">
                <li><a ui-sref="app.bookings">{{::"bookings" | translate}}</a></li>
                <li><a ui-sref="app.profile">{{::"profile" | translate}}</a></li>
            </ul>

            <md-divider></md-divider>


            <ul layout="column" layout-align="start start">
                <li><a href="/about">{{"mainMenu.about" | translate}}</a></li>
                <li><a href="/term">{{"mainMenu.conditions" | translate}}</a></li>
                <li><a href="/review">{{"mainMenu.reviews" | translate}}</a></li>
                <li><a href="/payment">{{"mainMenu.payment" | translate}}</a></li>
                <li><a href="/contact">{{"mainMenu.contacts" | translate}}</a></li>
            </ul>

            <div>
                <a href="/{{::$ctrl.nextLocale.key}}" ng-click="changeLocale($ctrl.nextLocale.key)">
                    <md-icon ng-if="$ctrl.nextLocale.key=='en'" md-svg-icon="flag:en"></md-icon>
                    <md-icon ng-if="$ctrl.nextLocale.key=='ru'" md-svg-icon="flag:ru"></md-icon>
                    {{::$ctrl.nextLocale.title}}
                </a>
            </div>

            <ul ng-if="$ctrl.user.isAuthorized==true">
                <li><a href="#" ng-click="$ctrl.logout()">{{::"logout" | translate}}</a></li>
            </ul>
        </div>


    </md-content>

</md-sidenav>