<div hide-gt-xs>
    <navigation-mobile></navigation-mobile>
</div>
<header>
    <div layout="row" hide show-gt-xs layout-align="end center" id="topNav" class="container md-caption">
        <div flex="5">
            <a href="">
                <md-icon md-svg-icon="social:twitter" aria-label="Twitter"></md-icon>
            </a>
        </div>
        <div flex="5">
            <a href="">
                <md-icon md-svg-icon="social:fb" aria-label="Facebook"></md-icon>
            </a>
        </div>
        <div flex="5">
            <a href="#">
                <md-icon md-svg-icon="social:vk" aria-label="VK"></md-icon>
            </a>
        </div>
        <div flex="20" flex-offset="5">
            <a href="" translate-once="mainMenu.partners"></a>
        </div>
        <div flex="20">
            <a href="">{{::"help" | translate}}</a>
        </div>
        <div flex="20">
            <a href="/{{::$ctrl.nextLocale.key}}" ng-click="changeLocale($ctrl.nextLocale.key)">
                <md-icon ng-if="$ctrl.nextLocale.key=='en'" md-svg-icon="flag:en"></md-icon>
                <md-icon ng-if="$ctrl.nextLocale.key=='ru'" md-svg-icon="flag:ru"></md-icon>
                {{::$ctrl.nextLocale.title}}
            </a>
        </div>
        <div flex="20">
            <md-menu ng-if="$ctrl.user.isAuthorized===true">
                <a href="#" ng-click="$mdMenu.open()">
                    <md-icon md-menu-origin md-svg-icon="user:profile"></md-icon>
                    {{$ctrl.user.data.email}}
                </a>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ui-sref="app.profile">{{"yourProfile" | translate}}</md-button>
                        <md-button ng-click="$ctrl.logout()">{{"logout" | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
            <md-menu ng-if="$ctrl.user.isAuthorized===false">



                <a href="#" class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-icon md-menu-origin md-svg-icon="user:profile"></md-icon>
                    {{::"login" | translate}}
                </a>
                <md-menu-content id="loginContainer">



                    <md-menu-item>
                        <login error="$ctrl.user.error" on-registration="$ctrl.stateGo('app.registration')"></login>
                    </md-menu-item>


                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div layout="row" layout-align="start center" layout-align-xs="center center" id="mainNav" class="container">
        <div flex="20" flex-xs="50">
            <a ui-sref="app.home">
                <img ng-src="/assets/images/logo.svg" alt="Selectdrive">

            </a>
        </div>
        <div flex="10" flex-xs="40">
            <h1 class="md-body-2">{{::"carRentals" | translate}}</h1>
        </div>
        <div hide-gt-xs ng-click="$ctrl.toggleSideNav()" flex-xs="10" id="sd-sidenav-btn" ng-class="{'hamburger': !$ctrl.sideNavOpen, 'arrow-right': $ctrl.sideNavOpen}">
            <!-- <md-button ng-click="toggleSideNav()" class="md-icon-button md-primary">
                 <md-icon md-svg-icon="menu"></md-icon>
             </md-button>-->
            <span></span>

        </div>


        <div flex="45" hide show-gt-xs>
            <ul class="row-list" layout="row" layout-align="space-around center" layout-align-sm="space-between center">
                <li>
                    <a href="/about" translate-once="mainMenu.about"></a>
                </li>
                <li>
                    <a href="/term" translate-once="mainMenu.conditions"></a>
                </li>
                <li>
                    <a href="/review" translate-once="mainMenu.reviews"></a>
                </li>
                <li>
                    <a href="/payment" translate-once="mainMenu.payment"></a>
                </li>
                <li>
                    <a href="/contact" translate-once="mainMenu.contacts"></a>
                </li>
            </ul>
        </div>
        <div flex="25" class="phone" hide show-gt-xs layout-align="end start">
            <span class="md-caption">+7(812)</span><span class="md-headline">648-50-80</span>
        </div>
    </div>

    <div hide-xs layout="row" class="car-select-frm-container">
        <div ui-view="carFrm" flex="20" flex-sm="30" flex-xl="10" class="car-select-frm">

        </div>
        <div ui-view="carClassMenu" flex="80" flex-sm="70" flex-xl="90" flex-xs="100">
        </div>
    </div>
</header>