@import '../../../../vars';
@import '../../../../components/bookingSummary/bookingSummary.less';


.sb-image-scroll {
  width:@imageWidth;
  overflow:hidden;
  

  

}



.sb-images {
  overflow:hidden;
  width:@imageWidth - 5% * 2;
  // @media @sm {

  //     width:@imageWidth - 5% * 2;




  // }
  @media @xs {
   width:80%;
    div {
      min-width:100%;

    }


  }
  white-space: nowrap;




img {
width:auto;
height:@thumbHeight;
padding:10px 5px;
@media @xs {

width:100%;
height:auto;
padding:0;
display: block;

}


&:hover {
      cursor: pointer;

}

}
}



.sb-back-btn, .sb-forward-btn {
width:5%;
// @media @lg{
// width:3%;
// }
@media @xs {
width:10%;
height: auto;
margin-top:0;

}
  visibility: hidden;
  height:@thumbHeight;
  margin-top:@thumbPadding;


  background-color:@light;
  color:@accentLight;

 &:hover {

    cursor: pointer;


  }
}