<div class="sb-image-scroll" layout>

  <div class="sb-back-btn" ng-click="scroll('left')" layout="column" layout-align="center center">
    <div>&#x25C0;</div>
  </div>
  <div class="sb-images" layout="row" layout-align-xs="start center" md-swipe-right="scroll('left')" md-swipe-left="scroll()"></div>
  <div class="sb-forward-btn" ng-click="scroll()" layout="column" layout-align="center center" layout-align-xs="stretch">
    <div>&#x25B6;</div>
  </div>



</div>