<div ng-hide="$ctrl.carNotAvailable">
  <wizard-nav hide-xs items="$ctrl.steps" selected="{{$ctrl.currentStep}}">
  </wizard-nav>
  <booking-summary ng-if="$ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[0].name" booking="$ctrl.booking" locale="$ctrl.locale"
    next="$ctrl.next()"></booking-summary>
  <booking-options ng-if="$ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[1].name" options="$ctrl.booking.priceoptions"
    booking="$ctrl.booking" locale="$ctrl.locale" next="$ctrl.next()" option-select="$ctrl.optionSelect({item})"></booking-options>
  <!-- Auth -->

  <div layout ng-if="$ctrl.user.isAuthorized == false && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[2].name && !$ctrl.reg">

    <div flex="30" flex-xs="100">
      <login error="$ctrl.user.error" on-registration="$ctrl.onRegClick()"></login>
    </div>
  </div>
  <!-- End -->
  <!-- Reg -->

  <div layout flex-xs="100" ng-if="$ctrl.user.isAuthorized == false && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[2].name && $ctrl.reg">

    <registration flex="100" error="$ctrl.user.error" on-success="$ctrl.onRegClick()" login="$ctrl.login()" show-login-btn="true">
    </registration>
  </div>

  <!-- End reg -->

  <!-- Email confirm -->

  <h1 class="md-headline" ng-if="$ctrl.user.isAuthorized === true && $ctrl.user.data.confirmed===false && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[2].name">{{::"confirmation" | translate}}</h1>

  <div layout="column" flex="30" flex-xs="100" ng-if="$ctrl.user.isAuthorized === true && $ctrl.user.data.confirmed===false && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[2].name">

    <user-confirm submit="$ctrl.onCodeSubmit({hash})" error="$ctrl.confirmErr" error-msg="{{::'badCode' | translate}}"></user-confirm>

  </div>


  <!-- End email confirm -->
  <booking-payment on-pay="$ctrl.makePayment()" car="$ctrl.booking.car" locale="$ctrl.locale" ng-if="$ctrl.user.isAuthorized === true && $ctrl.user.data.confirmed===true && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[2].name"></booking-payment>

  <!-- Confirmation sent -->

  <h1 class="md-headline" ng-if="$ctrl.user.isAuthorized === true  && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[3].name">{{::"bookingConfirmation" | translate}}</h1>

  <div layout="column" flex="100" ng-if="$ctrl.user.isAuthorized === true && $ctrl.steps[$ctrl.currentStep].name === $ctrl.steps[3].name">

    <p></p>

  </div>
</div>
<div ng-if="$ctrl.carNotAvailable === true">
  <h1 class="md-headline">{{::"carNotAvailable" | translate}}</h1>
  <p></p>
</div>